<div class="row justify-content-center my-3">
    <div class="col-auto h2 border-bottom">
        <span class="font-weight-bold">Notes</span>
    </div>
</div>

<div *ngIf="notes">

    <div class="row my-3">
        <div class="col-auto h4">
            <span class="font-weight-bold">Notes</span>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-auto h4">
            <span class="font-weight-bold">Number of Notes: {{notes.length}}</span>
        </div>
    </div>

    <ol>
        <li class="my-2"
            *ngFor="let note of notes">
            <div>
                ID: {{note._id}}
            </div>
            <div>
                Title: {{note.title}}
            </div>
            <div>
                Content: {{note.content}}
            </div>
            <div>
                Created Date: {{note.createdAt | date}}
            </div>
            <div>
                Last Update: {{note.updatedAt | date}}
            </div>
            <div>
                Version: {{note.__v}}
            </div>
            <div class="my-2">
                <button class="btn btn-secondary"
                        (click)="startUpdate(note)">Update</button>
            </div>
            <div class="my-2">
                <button class="btn btn-danger"
                        (click)="deleteNote(note._id)">Delete</button>
            </div>
        </li>
    </ol>
</div>