@page "/EditProduct/{ProductID}"
@model MyOnlinePetStoreWeb.Pages.EditProductModel


<form method="post" enctype="multipart/form-data">

    <input type="hidden"
           class="form-control"
           asp-for="ProductDTO.ProductID"
           readonly />

    <div class="row">

        <div class="col-12">

            <div class="form-group">
                <label asp-for="ProductDTO.Name">Name</label>
                <input type="text"
                       class="form-control"
                       asp-for="ProductDTO.Name" />
                <span asp-validation-for="ProductDTO.Name"
                      class="text-danger"></span>
            </div>

        </div>

        <div class="col-12">

            <div class="form-group">
                <label asp-for="ProductDTO.Description">Description</label>
                <input type="text"
                       class="form-control"
                       asp-for="ProductDTO.Description" />
                <span asp-validation-for="ProductDTO.Description"
                      class="text-danger"></span>
            </div>

        </div>

        <div class="col-12">

            <div class="form-group">
                <label asp-for="ProductDTO.Price">Price</label>
                <input type="text"
                       class="form-control"
                       asp-for="ProductDTO.Price" />
                <span asp-validation-for="ProductDTO.Price"
                      class="text-danger"></span>
            </div>

        </div>

        <div class="col-12">

            <div class="form-group">
                <label asp-for="ProductDTO.Image">Image <span class="text-muted">(optional)</span></label>
                <input type="file"
                       accept="image/*"
                       class="form-control"
                       asp-for="ProductDTO.Image" />
                <span asp-validation-for="ProductDTO.Image"
                      class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-6 d-grid">
            <button type="submit"
                    class="btn btn-primary">
                Submit
            </button>
        </div>
    </div>

</form>