@model List<Movie>


@if (Model != null && Model.Any()) {
    @foreach (var m in Model) {

        <div class="p-3 border">
            <div class="row">
                <div class="col-12">
                    <span>@m.ReleaseDate.ToString()</span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <span>@m.Title</span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <span>@m.Rating</span>
                </div>
            </div>
        </div>

    }
} else {
    <div class="row">
        <div class="col-12">
            <span>No recent movies</span>
        </div>
    </div>
}