Suma <input type="radio"
       value="Suma"
       [(ngModel)]="operacion">
| Resta<input type="radio"
       value="Resta"
       [(ngModel)]="operacion">
| Multiplicacion <input type="radio"
       value="Multiplicacion"
       [(ngModel)]="operacion">
| Division <input type="radio"
       value="Division"
       [(ngModel)]="operacion">

<div style="margin-top: 3rem;">
    Numero 1: <input type="number"
           [(ngModel)]="numero1">
    Numero 2: <input type="number"
           [(ngModel)]="numero2">
    Resultado de {{operacion}}: {{resultado}}
    <app-matematico-result [result]="resultado" (eventoLimpiarCampos)="limpiarCampos()"></app-matematico-result>
</div>

<div style="margin-top: 3rem;">
    <button (click)="calculate()">Calculate</button>
</div>