<div class="row my-3">
    <div class="col-auto h4">
        <span class="font-weight-bold">
            {{idNoteToUpdate?'Update Note':'Create new Note'}}
        </span>
    </div>
</div>

<div class="row my-3">
    <div class="col-12 col-md-3 form-group">
        <label>Title:</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="title">
    </div>

    <div class="col-12 col-md-3 form-group">
        <label>Content:</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="content">
    </div>

    <div class="col-12 col-md-3 form-group mt-4 d-grid">
        <button class="btn btn-primary"
                (click)="saveNote()">
            <span>{{idNoteToUpdate?'Save':'Add'}}</span>
        </button>
    </div>

    <div class="col-12 col-md-3 form-group mt-4 d-grid"
         *ngIf="idNoteToUpdate">
        <button class="btn btn-secondary"
                (click)="goToNotes()">
            Cancel
        </button>
    </div>
</div>